// Main background colours
$light-theme-bg: #dedddd;
$dark-theme-bg: #212430;

$light-theme-front: #ffffff;
$dark-theme-front: #12141c;

// Main colour
$main-colour: #5615c1;

// Main top colours
$light-theme-top: #e9e9e9;
$dark-theme-top: #2e303d;

// Main text colours
$light-theme-colour: $dark-theme-front;
$dark-theme-colour: $light-theme-front;

// Button colours
$btn-white: #ffffff;
$btn-purple: #5615c1;

// Inputs' placeholder
$inp-phd: rgba(87, 21, 193, 0.54);
$inp-bg: #ffffff;

// Choose' colours
$left-bg: #5615c1;

$right-bg-light: #ffffff;
$right-bg-dark: #12141c;
