// Main background colours
$white-theme-bg: #e7e7e7;
$dark-theme-bg: #212430;

$white-theme-front: #ffffff;
$black-theme-front: #12141c;

// Main colour
$main-colour: #5615c1;

// Main top colours
$white-theme-top: #f4f4f4;
$black-theme-top: #3c4053;

// Main theme colours (font)
$white-theme-colour: $black-theme-front;
$black-theme-colour: $white-theme-front;
