@import "./utils/variables.scss";
.group {
  //flex
  display: flex;
  align-items: center;
  gap: 10px;
}

.opt {
  //border
  border: none;

  //colors
  background-color: transparent;

  //font
  font-family: "Roboto mono", monospace;
  font-weight: bold;
  font-size: 1.5rem;

  //transition
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  //decoration
  text-decoration: none;
}

// THEMES
.light {
  color: $light-theme-colour;
}

.dark {
  color: $dark-theme-colour;
}

// ACTIVE (SELECTED / CURRENT)
.active {
  color: $main-colour;
}
